<div class="box">
     <p style="font-size: 20px;">
         proveer servicios de marketing digital seguros y confiables a nuestros clientes
         inpulsando haci el desarrollo de la industria y actuando dentro de un riguroso
         marco etico
     </p>

     <p style="font-size: 20px;">
         Realizamos todas nuestras actividades de manera profecional, explotando al maximo nuestras 
         capacidades y siempre respetando la puntualidad y el cumplimento de pasos 
         asi asumiendo la responsavilidad de nuestras acciones 
     </p>

    <img [src]="'/assets/logo.jpg'" width="640px" height="400px"  >

</div>