<header>
    <nav class="navegacion">
        <ul class="menu">

            <li>BRYANT A</li>

            <li> <a href="">Servicios</a>
                <ul class="submenu1">
                    <li> <a routerLink="/paginasweb">Informatica</a></li>
                    <li> <a routerLink="/articulos">Diseño productos</a></li>
                </ul>
            </li>

            <li> <a href="">Acerca de</a>
                <ul class="submenu2">
                    <li> <a routerLink="/direccion">Hubicacion</a></li>
                    <li> <a routerLink="/acercade">Hacerca de</a></li>
                </ul>
            </li>

            <li style="font-size: 30px;">Netting PCI Telecomunicaciones y Marketing</li>
            
        </ul>

    </nav>
</header>

<div class="socialbar">
    <a href="{{facebook}}" class="icon icon-facebook" target="_blank"> </a>
    <a href="{{youtube}}" class="icon icon-play" target="_blank"> </a>
    <a href="{{instagram}}" class="icon icon-instagram" target="_blank"> </a>
    <a href="{{whatsapp}}" class="icon icon-whatsapp" target="_blank"> </a>
    <a href="{{twitter}}" class="icon icon-twitter" target="_blank"> </a>
    <a href="{{telegram}}" class="icon icon-telegram" target="_blank"> </a>
</div>

<router-outlet></router-outlet>